<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<footer class="footer-distributed">

    <div class="footer-right">

      <a class = "fb" href="#" style="color: white;"><i class="fa fa-facebook fa-2x"></i></a>&nbsp;
      <a href="#" style="color: white;"><i class="fa fa-twitter fa-2x"></i></a>&nbsp;
      <a href="#" style="color: white;"><i class="fa fa-linkedin fa-2x"></i></a>&nbsp;
      <a href="#" style="color: white;"><i class="fa fa-github fa-2x"></i></a>&nbsp;

    </div>

    <div class="footer-left">

      <p class="footer-links">
        <a class="link-1" href="#">Home</a>

        <a href="#">Blog</a>&nbsp;

        <a href="#">Pricing</a>&nbsp;

        <a href="#">About</a>&nbsp;

        <a href="#">Faq</a>&nbsp;

        <a href="#">Contact</a>&nbsp;
      </p>

      <p>Company Name &copy; 2015</p>
    </div>

  </footer>