<div class="grid">
<div id="container">  
  
      <div class="product-details">
        
      <h1>Lenovo-Thinkpad</h1>
    
      <span class="hint-star star">
        PUNE
      </span>
        
      
    <!-- The most important information about the product -->
        <p class="information">" 8GB ram/1Tb HDD/ Windows-10/UHD Good Condition"</p>
    
        
        
    <!--    Control -->
    <div class="control">
      
    <!-- Start Button buying -->
      <button class="btn">
    <!--    the Price -->
       <span class="price">30,000</span>
    <!--    shopping cart icon-->
       <span class="shopping-cart"><i class="fa fa-phone" aria-hidden="true"></i></span>
    <!--    Buy Now / ADD to Cart-->
       <span class="buy">Contact-Owner</span>
     </button>
      <!-- End Button buying -->
      
    </div>
          
    </div>
      
    <!--  End Product details   -->
      
      
      
    <!--  Start product image & Information -->
      
    <div class="product-image">
      
      <img src="assets/laptop.jpg">
      
    <!--  product Information-->
    <div class="info">
      <h2>Details</h2>
      <ul>
        <li><strong>Manufacturer: </strong>Lenovo</li>
        <li><strong>Model: </strong>Thinkpad</li>
        <li><strong>Year: </strong>2020</li>
      </ul>
    </div>
    </div>
    <!--  End product image  -->
    
    
    </div>

    <div id="container">  
  
        <div class="product-details">
          
        <h1>Iphone-XR</h1>
      
        <span class="hint-star star">
          Mumbai
        </span>
          
        
      <!-- The most important information about the product -->
          <p class="information">" 4gb RAM/32gb Working Condition "</p>
      
          
          
      <!--    Control -->
      <div class="control">
        
      <!-- Start Button buying -->
        <button class="btn">
      <!--    the Price -->
         <span class="price">22,000</span>
      <!--    shopping cart icon-->
         <span class="shopping-cart"><i class="fa fa-phone" aria-hidden="true"></i></span>
      <!--    Buy Now / ADD to Cart-->
         <span class="buy">Contact-Owner</span>
       </button>
        <!-- End Button buying -->
        
      </div>
            
      </div>
        
      <!--  End Product details   -->
        
        
        
      <!--  Start product image & Information -->
        
      <div class="product-image">
        
        <img src="assets/phone.jpg">
        
      <!--  product Information-->
      <div class="info">
        <h2>Details</h2>
        <ul>
          <li><strong>Manufacturer: </strong>APPLE</li>
          <li><strong>Model: </strong>Iphone-XR</li>
          <li><strong>Year: </strong>2021</li>
        </ul>
      </div>
      </div>
      <!--  End product image  -->
      
      
      </div>
</div>