<div *ngIf="images && images.length > 0 " class="carousel-container">
    <img *ngFor="let image of images; let i = index"
        [src] = "image.imageSrc" [alt] = "image.imageAlt"
        [ngClass]="{'image-active': selectedIndex === i}"
    />

    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of images; let i = index"
            class="dot"
            [ngClass]="{'active': selectedIndex === i}"
            (click) = "selectedImage(i)"
        >

        </span>
    </div>

    <div class="btnCarousel btnPrev">
        <i class="fa fa-arrow-circle-left icon-carousel icon-prev" (click)="onPrevClick()"></i>
    </div>

    <div class="btnCarousel btnNext">
        <i class="fa fa-arrow-circle-right icon-carousel icon-next" (click)="onNextClick()"></i>
    </div>

</div>