<body>
    <form>
      <div>
        <div class="container">
        <h1>About Us</h1>
        <p>We are a gruop of student from MIT WPU who have tried to make a website to sell products online.If you like the website donations are welcome and if you have any suggestions please contact us!  </p>
        <h3>Created by</h3>
        <h4>
          Shail Alavani<br>
          Om Dhule<br>
          Hrishikesh Bhorde<br>
          Prashant Patil
        </h4>
      </div>
          <div class="container">
            <h1>Contact</h1>
            <button type="button" class="button"> Phone number : 9876543210</button> <br>
            <button type="button" class="button">Email : sastaolx@gmail.com</button><br>
            <button type="button" class="button">Donate : sastaolxupi@okhdfcbank</button><br>
          </div>
        </div>
    </form>
  </body>