<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="grid-container">
    <div class="card" routerLink="/electronics" routerLinkActive="active">
      <img src="assets/electronics.jpg" alt="" class="card-image" />
      <h3 class="card-title">Electronics</h3>
    </div>
    
    <div class="card" routerLink="/automobile" routerLinkActive="active">
      <img src="assets/cars.jpg" alt="" class="card-image" />
      <h3 class="card-title">Automobiles</h3>
    </div>
    
    <div class="card">
      <img src="assets/furniture.jpg" routerLink="/furniture" routerLinkActive="active"alt="" class="card-image" />
      <h3 class="card-title">Furniture</h3>
    </div>
    </div>

</body>
</html>