<body>
<button class="button-85" role="button" routerLink="/dummy" routerLinkActive="active"><i class="fa fa-plus-square"></i> &nbsp;SELL</button>


<div class="grid">
    <div id="container">

        <div class="product-details">

            <h1>Suzuki Swift</h1>

            <span class="hint-star star">
                PUNE
            </span>


            <!-- The most important information about the product -->
            <p class="information">" Vaaary GUT CONDITION. NOt a single scratch. "</p>



            <!--    Control -->
            <div class="control">

                <!-- Start Button buying -->
                <button class="btn">REMOVE</button>
                <button class="btn-edit">EDIT</button>
                <button class="btn-mas">MARK AS SOLD</button>
            </div>

        </div>

        <!--  End Product details   -->



        <!--  Start product image & Information -->

        <div class="product-image">

            <img src="assets/swift_car.jpg">

            <!--  product Information-->
            <div class="info">
                <h2>Details</h2>
                <ul>
                    <li><strong>Manufacturer: </strong>Maruti Suzuki</li>
                    <li><strong>Model: </strong>Swift-ZXI</li>
                    <li><strong>Kilometers Driven: </strong>80,000</li>
                    <li><strong>Year: </strong>2014</li>
                </ul>
            </div>
        </div>
        <!--  End product image  -->


    </div>

    <div id="container">  
  
        <div class="product-details">
          
        <h1>Lenovo-Thinkpad</h1>
      
        <span class="hint-star star">
          PUNE
        </span>
          
        
      <!-- The most important information about the product -->
          <p class="information">" 8GB ram/1Tb HDD/ Windows-10/UHD Good Condition"</p>
      
          
          
      <!--    Control -->
      <div class="control">
        
      <!-- Start Button buying -->
        <button class="btn">
      <!--    the Price -->
         <span class="price">30,000</span>
      <!--    shopping cart icon-->
         <span class="shopping-cart"><i class="fa fa-phone" aria-hidden="true"></i></span>
      <!--    Buy Now / ADD to Cart-->
         <span class="buy">Contact-Owner</span>
       </button>
        <!-- End Button buying -->
        
      </div>
            
      </div>
        
      <!--  End Product details   -->
        
        
        
      <!--  Start product image & Information -->
        
      <div class="product-image">
        
        <img src="assets/laptop.jpg">
        
      <!--  product Information-->
      <div class="info">
        <h2>Details</h2>
        <ul>
          <li><strong>Manufacturer: </strong>Lenovo</li>
          <li><strong>Model: </strong>Thinkpad</li>
          <li><strong>Year: </strong>2020</li>
        </ul>
      </div>
      </div>
      <!--  End product image  -->
      
      
      </div>

    <!-- {{Mylist.FirstName}}
    {{Mylist.LastName}} -->

</div>
</body>
<!-- 
<h1>
    The retrieved info from form are:
    {{Mylist.Fname}}
    {{Mylist.Price}}
    {{Mylist.Location}}
    {{Mylist.Description}}
    {{Mylist.Manufacturer}}
    {{Mylist.Model}}
    {{Mylist.Year}}
</h1> -->
